<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <title> Care Club </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Styling files -->
  <link rel="stylesheet" type="text/css" href="/public/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/public/bootstrap/dist/css/main.css" />

  <!-- Script Files -->
  <script src="/public/js/jQuery/jquery-3.4.1.js"></script>
  <script src="/public/scripts/main.js"></script>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-database.js"></script>

  <script src="/public/js/mainScript.js"></script>

</head>

<body>
  <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <%- include ('./shared/header')%>
    <div class="app-main">
      <%- include ('./shared/sidebar')%>
      <div class="app-main__outer">
        <div class="app-main__inner">
          <%- content %>
        </div>
      </div>
    </div>
  </div>

</body>

</html>