<% extend ('../../layout')%>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="metismenu-icon fa fa-truck fa-w-6 icon-gradient bg-mean-fruit"></i>
            </div>
            <div class="row">
                NGO Add Rider
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Add New Rider</h5>
        <form method="POST" action="/ngo/addrider">
            <div class="form-row">

                <!-- Start from here -->
                <div class="col-md-2"></div>

                <div class="col-md-8">

                    <!-- One Field -->
                    <div class="form-group">
                        <label>First name</label>
                        <input name="firstName" type="text" class="form-control" placeholder="First name" required />
                    </div>
                    <!-- 2nd Field -->
                    <div class="form-group">
                        <label>Last name</label>
                        <input name="lastName" type="text" class="form-control" placeholder="Last name" required />
                    </div>
                    <!-- 3rd Field -->
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="email" class="form-control" placeholder="Email" required />
                    </div>
                    <!-- 4th Field -->
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" type="password" class="form-control" placeholder="Password" required />
                    </div>
                    <!-- 5th Field -->
                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input name="mobileNo" type="tel" class="form-control" placeholder="Mobile Number" required />
                    </div>

                    <% if (error != "" ){ %>
                    <div class="form-group form-success-gone">
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    </div>
                    <% } %>

                </div>

                <div class="col-md-2"></div>
                <!-- Code end -->

            </div>
            <button class="btn btn-primary" type="submit" style="float: right;">ADD RIDER</button>
        </form>
    </div>
</div>