<% extend ('../../layout')%>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="metismenu-icon fa fa-money-bill fa-w-6 icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
                NGO Add Payment Method
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Add Payment Method</h5>
        <form method="POST" action="/ngo/adpayment">
            <div class="form-row">

                <!-- Start from here -->
                <div class="col-md-2"></div>

                <div class="col-md-8">

                    <!-- One Field -->
                    <div class="form-group">
                        <label>Name</label>
                        <input name="Name" type="text" class="form-control" placeholder="Name" required />
                    </div>
                    <!-- 2nd Field -->
                    <div class="form-group">
                        <label>Provider Name</label>
                        <select name="ProviderName" class="form-control" required>
                            <option value="JazzCash Account">JazzCash Account</option>
                            <option value="UPaisa Account">UPaisa Account</option>
                            <option value="EasyPaisa Account">EasyPaisa Account</option>
                            <option value="Bank Account Account">Bank Account Account</option>

                        </select>
                    </div>
                    <!-- 3rd Field -->
                    <div class="form-group">
                        <label>Account Number</label>
                        <input name="accountNumber" type="text" class="form-control" placeholder="Account Number"
                            required />
                    </div>
                    <div class="form-group">
                        <label>Account Holder Name</label>
                        <input name="accountHolderName" type="text" class="form-control"
                            placeholder="Account Holder Name" required />
                    </div>
                </div>

                <div class="col-md-2"></div>
                <!-- Code end -->

            </div>
            <button class="btn btn-primary" type="submit" style="float: right;">SAVE PAYMENT METHOD</button>
        </form>
    </div>
</div>