<% extend ('../../layout')%>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-car icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>
                NGO Add Payment Method
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Add New Rider</h5>
        <form class="needs-validation" novalidate>
            <div class="form-row">

                <!-- Start from here -->
                <div class="col-md-2"></div>

                <div class="col-md-8">

                    <!-- One Field -->
                    <div class="form-group">
                        <label>Name</label>
                        <input name="Name" type="text" class="form-control" placeholder="Name" required />
                    </div>
                    <!-- 2nd Field -->
                    <div class="form-group">
                        <label>Customer Name</label>
                        <input name="CustomerName" type="text" class="form-control" placeholder="Customer name"
                            required />
                    </div>
                    <!-- 3rd Field -->
                    <div class="form-group">
                        <label>Mobile No</label>
                        <input name="Mobile" type="tel" class="form-control" placeholder="Mobile" required />
                    </div>
                </div>

                <div class="col-md-2"></div>
                <!-- Code end -->


            </div>
            <button class="btn btn-primary" type="submit" style="float: right;">SAVE PAYMENT METHOD</button>
        </form>
    </div>
</div>