<% extend ('../../layout')%>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="metismenu-icon fa fa-money-bill fa-w-6 icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
                NGO My Donations
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h1>NGO My Donations Page</h1>
</div>