<% extend ('../../layout')%>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-car icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>
                NGO My Products
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h1>NGO My Products Page</h1>
</div>