<% extend ('../auth_layout')%>

<!--====== PAGE BANNER PART START ======-->

<section class="page_banner bg_cover" style="background-image: url(/public/helpgrove/assets/images/slider-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page_banner_content text-center">
                    <h3 class="page_title">CONTACT</h3>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="/">Home</a></li>
                        <li><a class="active" href="#">Contact</a></li>
                    </ul>
                </div> <!-- page banner content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== CONTACT PART START ======-->

<section class="contact_area pt-100 pb-130">
    <div class="services_shape_1" style="background-image: url(/public/helpgrove/assets/images/shape/shape-12.png)">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact_form mt-50">
                    <div class="section_title pb-30">
                        <img src="/public/helpgrove/assets/images/section_icon.png" alt="Icon">
                        <h3 class="title">Get in touch</h3>
                    </div>
                    <!-- section title -->
                    <div class="contact_info pt-20">
                        <ul>
                            <li>
                                <div class="single_info d-flex align-items-center mt-30">
                                    <div class="info_icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="info_content media-body">
                                        <p>143 castle road 517 district, <br> kiyev port south Canada</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single_info d-flex align-items-center mt-30">
                                    <div class="info_icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="info_content media-body">
                                        <p>+3 123 456 789</p>
                                        <p>+3 123 456 789</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single_info d-flex align-items-center mt-30">
                                    <div class="info_icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="info_content media-body">
                                        <p>info@yourmail.com</p>
                                        <p>help.pixelcurve@gmail.com</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                        </ul>
                    </div>
                    <!-- contact info -->

                </div>
                <!-- contact form -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== CONTACT PART ENDS ======-->