<% extend ('../auth_layout')%>

<!--====== SLIDER PART START ======-->

<section class="slider_area slider-active">
    <div class="single_slider">
        <div class="slider_image bg_cover" data-animation="kenburns"
            style="background-image: url(/public/helpgrove/assets/images/slider-1.jpg)"></div> <!-- slider image -->
        <div class="slider_content_wrapper d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider_content text-center">
                            <h5 class="sub_title" data-animation="fadeInUp" data-delay="0.2s">Let's Work for </h5>
                            <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">HUMANITY</h2>
                            <p data-animation="fadeInUp" data-delay="0.9s">You have TWO Hands. One to help yourself, the Second to Help Others</p>
                            <a href="#" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Leran More</a>
                        </div> <!-- slider content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- slider content wrapper -->
    </div> <!-- single slider -->

    <div class="single_slider">
        <div class="slider_image bg_cover" data-animation="kenburns"
            style="background-image: url(/public/helpgrove/assets/images/slider-2.jpg)"></div> <!-- slider image -->
        <div class="slider_content_wrapper d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider_content text-center">
                            <h5 class="sub_title" data-animation="fadeInUp" data-delay="0.2s">Let's Work for </h5>
                            <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">HUMANITY</h2>
                            <p data-animation="fadeInUp" data-delay="0.9s">You have TWO Hands. One to help yourself, the Second to Help Others</p>
                            <a href="#" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Leran More</a>
                        </div> <!-- slider content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- slider content wrapper -->
    </div> <!-- single slider -->

    <div class="single_slider">
        <div class="slider_image bg_cover" data-animation="kenburns"
            style="background-image: url(/public/helpgrove/assets/images/slider-3.jpg)"></div> <!-- slider image -->
        <div class="slider_content_wrapper d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider_content text-center">
                            <h5 class="sub_title" data-animation="fadeInUp" data-delay="0.2s">Let's Work for </h5>
                            <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">HUMANITY</h2>
                            <p data-animation="fadeInUp" data-delay="0.9s">You have TWO Hands. One to help yourself, the Second to Help Others</p>
                            <a href="#" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Leran More</a>
                        </div> <!-- slider content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- slider content wrapper -->
    </div> <!-- single slider -->
</section>

<!--====== SLIDER PART ENDS ======-->

<!--====== ABOUT PART START ======-->

<section class="about_area pt-80 pb-130 bg_cover"
    style="background-image: url(/public/helpgrove/assets/images/gray-bg.jpg)">
    <div class="about_shape_1" style="background-image: url(/public/helpgrove/assets/images/shape/shape-1.png)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="about_left  mt-50">
                    <div class="about_image">
                        <img src="/public/helpgrove/assets/images/about.jpg" alt="About">
                        <div class="help_title">
                            <h3 class="title">Fundraising organization for helpless people</h3>
                        </div>
                    </div>
                    <div class="about_content">
                        <h4 class="about_title">We’ve funded 44,007 charity projects for over 10 million people around
                            the world.</h4>
                        <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors,
                            churches and concerned citizens join. There will be a day–in our lifetime–when we get to
                            celebrate every person on the planet having access to clean water.</p>
                    </div>
                </div> <!-- about left -->
            </div>
            <div class="col-lg-4">
                <div class="about_right d-flex flex-wrap">
                    <div class="single_about_items mt-50 color-1 text-center">
                        <div class="about_icon">
                            <img class="shape" src="/public/helpgrove/assets/images/shape/shape-3.png" alt="shape">
                            <img class="icon" src="/public/helpgrove/assets/images/a-icon-1.png" alt="icon">
                        </div>
                        <div class="about_content">
                            <h4 class="items_title">63,000 Volunteers</h4>
                            <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors,
                                churches</p>
                        </div>
                    </div> <!-- single about items -->
                    <div class="single_about_items mt-50 color-1 text-center">
                        <div class="about_icon">
                            <img class="shape" src="/public/helpgrove/assets/images/shape/shape-3.png" alt="shape">
                            <img class="icon" src="/public/helpgrove/assets/images/a-icon-2.png" alt="icon">
                        </div>
                        <div class="about_content">
                            <h4 class="items_title">$85,000 Raised</h4>
                            <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors,
                                churches</p>
                        </div>
                    </div> <!-- single about items -->
                </div> <!-- about right -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about_shape_2" style="background-image: url(/public/helpgrove/assets/images/shape/shape-1.png)"></div>
</section>

<!--====== ABOUT PART ENDS ======-->

<!--====== SERVICES PART START ======-->

<section class="service_area pt-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center pb-80">
                    <img src="/public/helpgrove/assets/images/section_icon.png" alt="Icon">
                    <h3 class="title">Give your helping hand</h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row no-gutters justify-content-center">
            <div class="col-lg-4 col-md-7">
                <div class="single_services text-center services_1">
                    <div class="services_icon">
                        <img src="/public/helpgrove/assets/images/s-icon-1.png" alt="icon">
                    </div>
                    <div class="services_content">
                        <h4 class="services_title"><a href="#">Be a Volunteer</a></h4>
                        <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors,
                            churches.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="single_services active text-center services_2">
                    <div class="services_icon">
                        <img src="/public/helpgrove/assets/images/s-icon-2.png" alt="icon">
                    </div>
                    <div class="services_content">
                        <h4 class="services_title"><a href="#">Donate Now</a></h4>
                        <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors,
                            churches.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="single_services text-center services_3">
                    <div class="services_icon">
                        <img src="/public/helpgrove/assets/images/s-icon-3.png" alt="icon">
                    </div>
                    <div class="services_content">
                        <h4 class="services_title"><a href="#">Send Gift</a></h4>
                        <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors,
                            churches.</p>
                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== SERVICES PART ENDS ======-->

<!--====== VIDEO PART START ======-->

<section class="video_area pb-130 bg_cover" style="background-image: url(/public/helpgrove/assets/images/videobg.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="video_content mt-50">
                    <h4 class="video_title">We served more then 80,000 poor peoples</h4>
                </div> <!-- video content -->
            </div>
            <div class="col-lg-5">
                <div class="video_watch mt-50">
                    <a href="https://www.youtube.com/watch?v=WKUjCCOcLFY" class="video_play video-popup"><span><i
                                class="fa fa-play"></i></span> Watch video</a>
                </div> <!-- video watch -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== VIDEO PART ENDS ======-->

<!--====== CAUSES PART START ======-->

<section class="causes_area pt-130 pb-130 bg_cover"
    style="background-image: url(/public/helpgrove/assets/images/gray-bg.jpg)">
    <div class="causes_shape_1" style="background-image: url(/public/helpgrove/assets/images/shape/shape-1.png)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center pb-30">
                    <img src="/public/helpgrove/assets/images/section_icon.png" alt="Icon">
                    <h3 class="title">Latest Causes</h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_causes causes_color_1 mt-30">
                    <div class="causes_image">
                        <img src="/public/helpgrove/assets/images/causes-1.jpg" alt="causes">
                        <ul class="causes_icon">
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-video-camera"></i></a></li>
                        </ul>
                        <div class="causes_shape">
                            <img src="/public/helpgrove/assets/images/shape/shape-4.png" alt="shape">
                        </div>
                        <div class="causes_progress">
                            <div class="bar_inner">
                                <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                            </div>
                        </div> <!-- donate progress -->
                    </div>
                    <div class="causes_content">
                        <ul class="causes_meta">
                            <li><a href="#"><i class="fa fa-line-chart"></i> <span>Goal</span> : $1900</a></li>
                            <li><a href="#"><i class="fa fa-meh-o"></i> <span>Raised</span> : $900</a></li>
                        </ul>
                        <h4 class="causes_title"><a href="#">Build beutifull school</a></h4>
                        <p>Helpgrove is a nonproﬁt organization supported by community leaders.</p>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div> <!-- single causes -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes causes_color_2  mt-30">
                    <div class="causes_image">
                        <img src="/public/helpgrove/assets/images/causes-2.jpg" alt="causes">
                        <ul class="causes_icon">
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-video-camera"></i></a></li>
                        </ul>
                        <div class="causes_shape">
                            <img src="/public/helpgrove/assets/images/shape/shape-4.png" alt="shape">
                        </div>
                        <div class="causes_progress">
                            <div class="bar_inner">
                                <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                            </div>
                        </div> <!-- donate progress -->
                    </div>
                    <div class="causes_content">
                        <ul class="causes_meta">
                            <li><a href="#"><i class="fa fa-line-chart"></i> <span>Goal</span> : $1900</a></li>
                            <li><a href="#"><i class="fa fa-meh-o"></i> <span>Raised</span> : $900</a></li>
                        </ul>
                        <h4 class="causes_title"><a href="#">Food collect for child</a></h4>
                        <p>Helpgrove is a nonproﬁt organization supported by community leaders.</p>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div> <!-- single causes -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes causes_color_3  mt-30">
                    <div class="causes_image">
                        <img src="/public/helpgrove/assets/images/causes-3.jpg" alt="causes">
                        <ul class="causes_icon">
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-video-camera"></i></a></li>
                        </ul>
                        <div class="causes_shape">
                            <img src="/public/helpgrove/assets/images/shape/shape-4.png" alt="shape">
                        </div>
                        <div class="causes_progress">
                            <div class="bar_inner">
                                <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                            </div>
                        </div> <!-- donate progress -->
                    </div>
                    <div class="causes_content">
                        <ul class="causes_meta">
                            <li><a href="#"><i class="fa fa-line-chart"></i> <span>Goal</span> : $1900</a></li>
                            <li><a href="#"><i class="fa fa-meh-o"></i> <span>Raised</span> : $900</a></li>
                        </ul>
                        <h4 class="causes_title"><a href="#">Home collect for child</a></h4>
                        <p>Helpgrove is a nonproﬁt organization supported by community leaders.</p>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div> <!-- single causes -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes causes_color_4  mt-30">
                    <div class="causes_image">
                        <img src="/public/helpgrove/assets/images/causes-4.jpg" alt="causes">
                        <ul class="causes_icon">
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-video-camera"></i></a></li>
                        </ul>
                        <div class="causes_shape">
                            <img src="/public/helpgrove/assets/images/shape/shape-4.png" alt="shape">
                        </div>
                        <div class="causes_progress">
                            <div class="bar_inner">
                                <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                            </div>
                        </div> <!-- donate progress -->
                    </div>
                    <div class="causes_content">
                        <ul class="causes_meta">
                            <li><a href="#"><i class="fa fa-line-chart"></i> <span>Goal</span> : $1900</a></li>
                            <li><a href="#"><i class="fa fa-meh-o"></i> <span>Raised</span> : $900</a></li>
                        </ul>
                        <h4 class="causes_title"><a href="#">Save blood cancer</a></h4>
                        <p>Helpgrove is a nonproﬁt organization supported by community leaders.</p>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div> <!-- single causes -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes causes_color_5  mt-30">
                    <div class="causes_image">
                        <img src="/public/helpgrove/assets/images/causes-5.jpg" alt="causes">
                        <ul class="causes_icon">
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-video-camera"></i></a></li>
                        </ul>
                        <div class="causes_shape">
                            <img src="/public/helpgrove/assets/images/shape/shape-4.png" alt="shape">
                        </div>
                        <div class="causes_progress">
                            <div class="bar_inner">
                                <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                            </div>
                        </div> <!-- donate progress -->
                    </div>
                    <div class="causes_content">
                        <ul class="causes_meta">
                            <li><a href="#"><i class="fa fa-line-chart"></i> <span>Goal</span> : $1900</a></li>
                            <li><a href="#"><i class="fa fa-meh-o"></i> <span>Raised</span> : $900</a></li>
                        </ul>
                        <h4 class="causes_title"><a href="#">Help ecosytems</a></h4>
                        <p>Helpgrove is a nonproﬁt organization supported by community leaders.</p>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div> <!-- single causes -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes causes_color_6 mt-30">
                    <div class="causes_image">
                        <img src="/public/helpgrove/assets/images/causes-6.jpg" alt="causes">
                        <ul class="causes_icon">
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-video-camera"></i></a></li>
                        </ul>
                        <div class="causes_shape">
                            <img src="/public/helpgrove/assets/images/shape/shape-4.png" alt="shape">
                        </div>
                        <div class="causes_progress">
                            <div class="bar_inner">
                                <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                            </div>
                        </div> <!-- donate progress -->
                    </div>
                    <div class="causes_content">
                        <ul class="causes_meta">
                            <li><a href="#"><i class="fa fa-line-chart"></i> <span>Goal</span> : $1900</a></li>
                            <li><a href="#"><i class="fa fa-meh-o"></i> <span>Raised</span> : $900</a></li>
                        </ul>
                        <h4 class="causes_title"><a href="#">Save poor female</a></h4>
                        <p>Helpgrove is a nonproﬁt organization supported by community leaders.</p>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div> <!-- single causes -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="causes_shape_2" style="background-image: url(/public/helpgrove/assets/images/shape/shape-1.png)"></div>
</section>

<!--====== CAUSES PART ENDS ======-->

<!--====== TESTIMONIAL PART START ======-->

<section class="testimonial_area">
    <div class="testimonial_image_wrapper">
        <div class="single_testimonial_image">
            <img src="/public/helpgrove/assets/images/testimonial-1.jpg" alt="testimonial">
        </div> <!-- single testimonial image -->

        <div class="single_testimonial_image">
            <img src="/public/helpgrove/assets/images/testimonial-2.jpg" alt="testimonial">
        </div> <!-- single testimonial image -->

        <div class="single_testimonial_image">
            <img src="/public/helpgrove/assets/images/testimonial-3.jpg" alt="testimonial">
        </div> <!-- single testimonial image -->

        <div class="single_testimonial_image">
            <img src="/public/helpgrove/assets/images/testimonial-2.jpg" alt="testimonial">
        </div> <!-- single testimonial image -->
    </div> <!-- testimonial image wrapper -->

    <div class="testimonial_content_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="testimonial_content_wrapper">

                        <div class="single_testimonial_content text-center">
                            <i class="fa fa-quote-right"></i>
                            <h4 class="testimonial_title">Testimonial</h4>
                            <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors,
                                churches, helpless etc. and concerned citizens </p>
                            <h6 class="author_name">Alex Heyden</h6>
                        </div> <!-- single testimonial content -->

                        <div class="single_testimonial_content text-center">
                            <i class="fa fa-quote-right"></i>
                            <h4 class="testimonial_title">Testimonial</h4>
                            <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors,
                                churches, helpless etc. and concerned citizens </p>
                            <h6 class="author_name">Alex Heyden</h6>
                        </div> <!-- single testimonial content -->

                        <div class="single_testimonial_content text-center">
                            <i class="fa fa-quote-right"></i>
                            <h4 class="testimonial_title">Testimonial</h4>
                            <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors,
                                churches, helpless etc. and concerned citizens </p>
                            <h6 class="author_name">Alex Heyden</h6>
                        </div> <!-- single testimonial content -->

                        <div class="single_testimonial_content text-center">
                            <i class="fa fa-quote-right"></i>
                            <h4 class="testimonial_title">Testimonial</h4>
                            <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors,
                                churches, helpless etc. and concerned citizens </p>
                            <h6 class="author_name">Alex Heyden</h6>
                        </div> <!-- single testimonial content -->

                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- testimonial content area -->
</section>

<!--====== TESTIMONIAL PART ENDS ======-->

<!--====== VOLUNTEER PART START ======-->

<section class="volunteer_area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center pb-30">
                    <img src="/public/helpgrove/assets/images/section_icon.png" alt="Icon">
                    <h3 class="title">Our Volunteers</h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_volunteer mt-30 volunteer_color_1">
                    <div class="volunteer_image">
                        <img src="/public/helpgrove/assets/images/volunteer-1.jpg" alt="Volunteer">
                        <div class="volunteer_social">
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank">
                                        <i class="fa fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa fa-pinterest-square"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> <!-- volunteer social -->
                    </div>
                    <div class="volunteer_content d-flex align-items-center justify-content-center">
                        <div class="content_wrapper">
                            <h5 class="volunteer_name"><a href="#">Maria Noor</a></h5>
                            <p>Volunteer</p>
                        </div>
                    </div>
                </div> <!-- single volunteer -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_volunteer mt-30 volunteer_color_2">
                    <div class="volunteer_image">
                        <img src="/public/helpgrove/assets/images/volunteer-2.jpg" alt="Volunteer">
                        <div class="volunteer_social">
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank">
                                        <i class="fa fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa fa-pinterest-square"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> <!-- volunteer social -->
                    </div>
                    <div class="volunteer_content d-flex align-items-center justify-content-center">
                        <div class="content_wrapper">
                            <h5 class="volunteer_name"><a href="#">Kiara Roy</a></h5>
                            <p>Volunteer</p>
                        </div>
                    </div>
                </div> <!-- single volunteer -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_volunteer mt-30 volunteer_color_3">
                    <div class="volunteer_image">
                        <img src="/public/helpgrove/assets/images/volunteer-3.jpg" alt="Volunteer">
                        <div class="volunteer_social">
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank">
                                        <i class="fa fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa fa-pinterest-square"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> <!-- volunteer social -->
                    </div>
                    <div class="volunteer_content d-flex align-items-center justify-content-center">
                        <div class="content_wrapper">
                            <h5 class="volunteer_name"><a href="#">Adams Hobes</a></h5>
                            <p>Volunteer</p>
                        </div>
                    </div>
                </div> <!-- single volunteer -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_volunteer mt-30 volunteer_color_4">
                    <div class="volunteer_image">
                        <img src="/public/helpgrove/assets/images/volunteer-4.jpg" alt="Volunteer">
                        <div class="volunteer_social">
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank">
                                        <i class="fa fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa fa-pinterest-square"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> <!-- volunteer social -->
                    </div>
                    <div class="volunteer_content d-flex align-items-center justify-content-center">
                        <div class="content_wrapper">
                            <h5 class="volunteer_name"><a href="#">Adams Hobes</a></h5>
                            <p>Volunteer</p>
                        </div>
                    </div>
                </div> <!-- single volunteer -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== VOLUNTEER PART ENDS ======-->

<!--====== EVENT PART START ======-->

<section class="event_area pt-95 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title section_title_2 pb-30">
                    <h3 class="title">Latest Events</h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row no-gutters justify-content-center">
            <div class="col-lg-4 col-md-7">
                <div class="single_event event_color-1 mt-30">
                    <div class="event_image">
                        <img src="/public/helpgrove/assets/images/event-1.jpg" alt="event">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="/public/helpgrove/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date"><span>13</span> Dec</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <h4 class="event_title"><a href="#">4th Annual Schoolyard Dash 5K</a></h4>
                        <p><img src="/public/helpgrove/assets/images/map.png" alt="map"> <span>2018/12/28 00:00 69
                                Warren Street, New
                                York, USA</span> </p>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div> <!-- single event -->
            </div>

            <div class="col-lg-4 col-md-7">
                <div class="single_event d-lg-flex flex-column-reverse event_color-2 mt-30">
                    <div class="event_image">
                        <img src="/public/helpgrove/assets/images/event-2.jpg" alt="event">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="/public/helpgrove/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date"><span>13</span> Dec</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <h4 class="event_title"><a href="#">A wooden fishing boat rests on Deal in Kent</a></h4>
                        <p><img src="/public/helpgrove/assets/images/map.png" alt="map"> <span>2018/12/28 00:00 69
                                Warren Street, New
                                York, USA</span> </p>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div> <!-- single event -->
            </div>

            <div class="col-lg-4 col-md-7">
                <div class="single_event event_color-3 mt-30">
                    <div class="event_image">
                        <img src="/public/helpgrove/assets/images/event-3.jpg" alt="event">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="/public/helpgrove/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date"><span>13</span> Dec</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <h4 class="event_title"><a href="#">4th Annual Schoolyard Dash 5K</a></h4>
                        <p><img src="/public/helpgrove/assets/images/map.png" alt="map"> <span>2018/12/28 00:00 69
                                Warren Street, New
                                York, USA</span> </p>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div> <!-- single event -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== EVENT PART ENDS ======-->