<% extend ('../auth_layout')%>

<!--====== SLIDER PART START ======-->

<section class="slider_area slider-active">
    <div class="single_slider">
        <div class="slider_image bg_cover" data-animation="kenburns"
            style="background-image: url(/public/helpgrove/assets/images/slider-1.jpg)"></div> <!-- slider image -->
        <div class="slider_content_wrapper d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider_content text-center">
                            <h5 class="sub_title" data-animation="fadeInUp" data-delay="0.2s">Let's Work for </h5>
                            <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">HUMANITY</h2>
                            <p data-animation="fadeInUp" data-delay="0.9s">You have TWO Hands. One to help yourself, the Second to Help Others</p>
                            
                        </div> <!-- slider content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- slider content wrapper -->
    </div> <!-- single slider -->

    <div class="single_slider">
        <div class="slider_image bg_cover" data-animation="kenburns"
            style="background-image: url(/public/helpgrove/assets/images/slider-2.jpg)"></div> <!-- slider image -->
        <div class="slider_content_wrapper d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider_content text-center">
                            <h5 class="sub_title" data-animation="fadeInUp" data-delay="0.2s">Let's Work for </h5>
                            <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">HUMANITY</h2>
                            <p data-animation="fadeInUp" data-delay="0.9s">You have TWO Hands. One to help yourself, the Second to Help Others</p>
                            
                        </div> <!-- slider content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- slider content wrapper -->
    </div> <!-- single slider -->

    <div class="single_slider">
        <div class="slider_image bg_cover" data-animation="kenburns"
            style="background-image: url(/public/helpgrove/assets/images/slider-3.jpg)"></div> <!-- slider image -->
        <div class="slider_content_wrapper d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider_content text-center">
                            <h5 class="sub_title" data-animation="fadeInUp" data-delay="0.2s">Let's Work for </h5>
                            <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">HUMANITY</h2>
                            <p data-animation="fadeInUp" data-delay="0.9s">You have TWO Hands. One to help yourself, the Second to Help Others</p>
                            
                        </div> <!-- slider content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- slider content wrapper -->
    </div> <!-- single slider -->
</section>

<!--====== SLIDER PART ENDS ======-->

<!--====== ABOUT PART START ======-->

