<% extend ('../../admin_layout')%>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="metismenu-icon fa fa-list fa-w-6 icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
                Admin Dashboard
            </div>
        </div>
    </div>
</div>

<!-- Related to NGOS -->
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">NGOS</h5>
        <div class="row">
            <div class="col-md-3 col-xl-3">
                <div class="card mb-3 widget-content bg-midnight-bloom">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Total NGOS</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white" id="totalNgos"><span>0</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-3">
                <div class="card mb-3 widget-content bg-arielle-smile">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Pending Approval NGOS</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white" id="pendingApprovals"><span>0</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-3">
                <div class="card mb-3 widget-content bg-grow-early">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Approved NGOS</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white" id="approvedNgos"><span>0</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-3">
                <div class="card mb-3 widget-content bg-premium-dark">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Rejected NGOS</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-warning" id="rejectedNgos"><span>0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Related to USERS & RIDERS -->
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">USERS & RIDERS</h5>
        <div class="row">
            <div class="col-md-6 col-xl-6">
                <div class="card mb-3 widget-content bg-midnight-bloom">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Total USERS</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white" id="totalUsers"><span>0</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="card mb-3 widget-content bg-arielle-smile">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Total RIDERS</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white" id="totalRiders"><span>0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Related to PRODUCTS -->
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">PRODUCTS</h5>
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-midnight-bloom">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Total PRODUCTS</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white" id="totalProducts"><span>0</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-arielle-smile">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Claimed Products</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white" id="claimedProducts"><span>0</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-arielle-smile">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Unclaimed Products</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white" id="unclaimedProducts"><span>0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Related to DONATIONS -->
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">DONATIONS</h5>
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="card mb-3 widget-content bg-midnight-bloom">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Total Donatons</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white" id="totalDonations"><span>0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/admin/dashboard.js"></script>